.KeyGen {
    margin: 0 8rem;
    height: 100%;
    display: flex;
    color: #545454;
    justify-content: center;
    align-items: center;
}

.KeyGen .config {
    min-width: 600px;
    border-radius: 6px;
    background-color: white;
    box-shadow: 0 0.139vw 0.278vw 0 rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    padding: 2rem;
    max-height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    justify-content: space-between;
}

.KeyGen p {
    text-align: justify;
    margin: 0 0 1rem 0;
    padding: 0;
}

.KeyGen .line {
    display: flex;
    margin: 1rem 1rem 0 1rem;
}

.KeyGen .line .title {
    font-weight: bold;
}

.KeyGen .line .value {
    margin-left: 1rem;
}

.KeyGen .config .line.id {
    margin-top: 0;
    margin-bottom: 1rem;
}

.KeyGen .config .line.id .value {
    color: #999999;
}

.KeyGen .config .line.info .value {
    margin: 0;
}

.KeyGen .config .line.info {
    flex-direction: column;
    margin: 0 0 2rem 0;
}

.KeyGen textarea {
    height: 8rem;
    display: block;
}

.KeyGen .download {
    margin-top: 0;
}

.KeyGen .load {
    margin-bottom: 1rem;
}